.row.tile-container
  .tile.col-4.align-items-center
    .count-top
      %i.fas.fa-users
      Total Media
    .count-middle
      1,234
    .count-bottom
  .tile.tile--with-border.col-4.align-items-center
    .count-top
      %i.fas.fa-list-ul
      Total Lists
    .count-middle
      234
    .count-bottom
  .tile.tile--with-border.col-4.align-items-center
    .count-top
      %i.fas.fa-tags
      Total Tags
    .count-middle
      345
    .count-bottom
