%nav.sidebar
  .sidebar-header
    .sidebar-active
      .mt-1.mb-1
        = image_tag 'cat1.svg', height: 30
    .sidebar-inactive
      %h3.font-weight-light
        Chippa.io
  .sidebar-menu
    %ul.nav.flex-column
      %li.nav-item.d-inline.active
        %a.nav-link.d-inline-flex{ href: dashboard_path, title: 'Dashboard', data: { toggle: 'tooltip', placement: 'right' } }
          .flex-container
            %i.fas.fa-chart-line
            .sidebar-inactive
              Dashboard
      %li.nav-item.d-inline
        %a.nav-link.d-inline-flex{ href: media_lists_path, title: 'Lists', data: { toggle: 'tooltip', placement: 'right' } }
          .flex-container
            %i.fas.fa-list-ul
            .sidebar-inactive
              Lists
      %li.nav-item.d-inline
        %a.nav-link.d-inline-flex{ href: tags_path, title: 'Tags', data: { toggle: 'tooltip', placement: 'right' } }
          .flex-container
            %i.fas.fa-tags
            .sidebar-inactive
              Tags
      %li.nav-item.d-inline
        %a.nav-link.d-inline-flex{ href: media_members_path, title: 'Media Members', data: { toggle: 'tooltip', placement: 'right' } }
          .flex-container
            %i.fas.fa-users
            .sidebar-inactive
              Media Members
