.container
  %section#coming-soon.is-large
    .columns.is-centered.is-vcentered
      .column.is-one-quarter.has-text-centered
        = image_tag 'cat.svg'
        %h1.title.is-1 ChippaIO
        %h2.subtitle Coming Soon
